$base-prefix: ez;

$base-font-family: bevietnam-regular;
$base-line-height: 1.5;
$base-font-size: 14px;
$font-bold: "bevietnam-bold";
$font-semi-bold: "bevietnam-semibold";
$footer-h3-family: "bevietnam-bold";
$footer-h3-size: 15px;
$footer-h3-color: #FFF;

$footer-h2-family: "bevietnam-bold";
$footer-h2-size: 24px;
$footer-h2-color: #ffc000;

$base-hover-color: #df0000;
$item-hover-color: #df0000;

$container-width: 1230px;

$background: ('header': #615b56,'deep-green': #0b3d20);
$fontsizes: (14,30);

$base-button-height: 50px;
$container-width : 1230px;
$base-gutter: 30px;
$btn-chat-color: #dd6a0a;
$block-padding-40: ('#footer','#block-khachhang');
$sami-text-center: ('#copyright','#footer');
$sami-color-white: ('#copyright','#footer');
$sami-fs-15: ('#copyright');
$flex-between: ('#header .container','#header-right > div','#menu .nav-ul');