#timkiem{
    height: 38px;
    border: 1px solid #dfdfdf;
    border-radius: 15px;
    width: 262px;
    padding: 2px;
    overflow: hidden;
    > div{
    	    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    }
    input{
    	border: 0;
    	background: 0;
    	outline: 0;
    }
    [type=button]{
    	    background: url(../images/timkiem_icon.png) center no-repeat;
    width: 30px;
    height: 36px;
    /* background-color: #000; */
    position: absolute;
    right: 5px;
    cursor: pointer;
}
    [type=text]{
    	height: inherit;
    	padding-left: 15px;
    	    width: calc(100% - 40px);
    	    color: #333;
    }
}