a.img,a.image{
	line-height: 0;
}
.item{
	display: block;
	&-flex{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	&.between{
		justify-content: space-between;
	}
	.image,.detail{
		position: relative;
		overflow: hidden;
		transition: all 0.3s;
		img{
			max-width: 100%;
			height: auto;
			transition: all 0.3s;
		}
	}
	.title{
		font-weight: normal;
		color: #333;
	}
	.href{
		font-family: inherit;
		color: inherit;
		transition: all 0.3s;
	}
	&:hover{
		.image{
			transition: all 0.3s;
			img{
				transition: all 0.3s;
				transform: scale(1.1);
			}
		}
		.href{
			color: $item-hover-color!important;
			transition: all 0.3s;
		}
	}
}
.item-overlay{
	position: relative;
	.io-content{
		position: absolute;
		width: 100%;
		background-color: rgba(0,0,0,0.6);
		bottom: 0;
		&.bottom{
			bottom: 0;
			padding: 15px 10px;
			color: #FFF;
			a{
				color: inherit;
			}
		}
		&.fill{
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}